fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib[bcrypt]

prometheus-client

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp

python-json-logger